<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="assets/jquery.min.js"></script>
</head>
<body>

<input type="file" name="file" id="file">

<pre id="pre"></pre>

<script>
    $('#file').change(() => {
        let f = $("#file")[0].files[0];

        $.ajax({
            method: 'post',
            url: '/demo',
            data: {
                filename: f.name
            },
            success: function (data) {
                console.log(data);

                let formData = new FormData();
                formData.append("file", f);
                formData.append("token", data.token);

                $.ajax({
                    method: 'post',
                    url: '/upload',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        pre.innerHTML += JSON.stringify(data)
                    }
                });
            }
        });
    });
</script>

</body>
</html>